.Projects {
    height: 110vh;
    width: 100%;
}

.Projects > h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.project-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.project-pics {
    height: 350px;
    width: 650px;
    margin-left: 5%;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.project-info {
    margin-left: 30px;
    margin-right: 5%;
}

.project-info > h4 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #287094;
}

.project-info > p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.project-skills {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-skills > p {
    padding: 3px 10px;
    font-size: 12px;
    color: #287094;
    border: 1px solid #287094;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5fbfd;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.button-flex {
    display: flex;
    flex-direction: row;
}

.project-btns {
    height: 40px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    border: 2px rgba(0, 0, 0, 0.8) solid;
    border-radius: 5px;
    /* margin-top: 30px; */
    margin-right: 20px;
}

.project-btns:hover {
    background-color: rgba(0, 0, 0, 0.05);
}