.Projects {
    height: 100vh;
    width: 100%;
}

.Projects > h3 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
}

.project-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.project-pics {
    height: 400px;
    width: 700px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 10px;
}

.project-info {
    margin-left: 30px;
    margin-right: 5%;
}

.project-info > h4 {
    font-size: 30px;
    margin-bottom: 15px;
}

.project-info > p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.project-skills {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-skills > p {
    height: 30px;
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 10px;
}

.button-flex {
    display: flex;
    flex-direction: row;
}

.project-btns {
    height: 40px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 20px;
}