.Welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Welcome > h1 {
    font-size: 50px;
}

.Welcome > h2 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.Welcome > nav {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.icons {
    height: 50px;
    width: 50px;
}

.icons:hover {
    transform: scale(1.1);
}

.resume {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 2px black solid;
    border-radius: 5px;
}

.resume:hover {
    transform: scale(1.1);
}