.Skills {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.blurb {
    height: 750px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
}

.pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 50%;
}

.blurb-text {
    width: 40%;
}

.blurb-text > p {
    margin-bottom: 15px;
}

.skills-box {
    height: 750px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.skills-box > h3 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.skills-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bold;
}

.skill-logos {
    height: 100px;
}